{% extends "layout.html" %}
{% block body %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
  <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
  <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
  <script type="text/javascript">
  var dict = {{ data|safe }};
  console.log(dict)
  $(function () {
      $('#container').highcharts({
          chart: {
              type: 'column'
          },
          title: {
              text: 'Friends by Name'
          },
          subtitle: {
              text: 'Source: Facebook.com'
          },
          xAxis: {
              categories: [
                  'A',
                  'B',
                  'C',
                  'D',
                  'E',
                  'F',
                  'G',
                  'H',
                  'I',
                  'J',
                  'K',
                  'L',
                  'M',
                  'N',
                  'O',
                  'P',
                  'Q',
                  'R',
                  'S',
                  'T',
                  'U',
                  'V',
                  'W',
                  'X',
                  'Y',
                  'Z'
              ],
              crosshair: true,
              title: {
                  text: 'Letters of the Alphabet'
              }
          },
          yAxis: {
              min: 0,
              title: {
                  text: 'Friend Count'
              }
          },
          tooltip: {
              headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style="padding:0"><b>{point.y:f} friends</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
          },
          plotOptions: {
              column: {
                  pointPadding: 0.2,
                  borderWidth: 0
              }
          },
          series: [{
              name: 'Shubhi',
              data: [
                  dict['A'],
                  dict['B'],
                  dict['C'],
                  dict['D'],
                  dict['E'],
                  dict['F'],
                  dict['G'],
                  dict['H'],
                  dict['I'],
                  dict['J'],
                  dict['K'],
                  dict['L'],
                  dict['M'],
                  dict['N'],
                  dict['O'],
                  dict['P'],
                  dict['Q'],
                  dict['R'],
                  dict['S'],
                  dict['T'],
                  dict['U'],
                  dict['V'],
                  dict['W'],
                  dict['X'],
                  dict['Y'],
                  dict['Z']
              ]
          }]
      });
  });
  </script>

{% endblock %}
